
@model VeiculoViewModel

<form asp-controller="Veiculo" asp-action="Update" method="POST">
    <div class="container">
        <div class="wrapper">
            <h2 style="margin-bottom:2rem;">Edição de Veículo</h2>
            @if (ViewBag.ErrorMessages != null)
            {
                @Html.Raw(ViewBag.ErrorMessages);
            }
            else if (ViewBag.Message != null)
            {
                <div class="@ViewBag.CssClass">
                    @ViewBag.Message
                </div>
            }
            <div class="content">
                <div class="tab_wrap" style="display: block;">
                    <div class="form-group mb-3 row">
                        <label class="col-md-3 col-form-label" asp-for="Placa">
                            Placa
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input readonly="readonly" asp-for="Placa" class="form-control" />
                            <span asp-validation-for="Placa"></span>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="col-md-3 col-form-label" asp-for="Cor">
                            Cor
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input asp-for="Cor" class="form-control" />
                            <span asp-validation-for="Cor"></span>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="col-md-3 col-form-label">
                            Status
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-6">
                            <select asp-for="CodigoStatus" class="form-control">
                                <option value="">Selecione</option>
                                @foreach (var status in @Model.Statuses)
                                {
                                    <option value="@status.Value">@status.Text</option>
                                }
                            </select>
                            <span asp-validation-for="CodigoStatus"></span>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="col-md-3 col-form-label" asp-for="Modelo">
                            Modelo
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input asp-for="Modelo" class="form-control" />
                            <span asp-validation-for="Modelo"></span>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="col-md-3 col-form-label" asp-for="AnoFabricacao">
                            AnoFabricacao
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input asp-for="AnoFabricacao" class="form-control" />
                            <span asp-validation-for="AnoFabricacao"></span>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="col-md-3 col-form-label" asp-for="AnoModelo">
                            AnoModelo
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input asp-for="AnoModelo" class="form-control" />
                            <span asp-validation-for="AnoModelo"></span>
                        </div>
                    </div>
                </div>
            </div>
            <button style="margin-top:2rem;" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>


